<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="fragment :: imports"></head>
<body>
    <div th:include="fragment :: header('employee')"></div>
    <table>
      <tbody>
        <tr th:each="employee:${employees}">
          <td><a th:href="@{/employee/} + ${employee.id}" 
                 th:text="${employee.firstName} +' '+ ${employee.lastName}"></a></td>
        </tr>
      </tbody>
    </table>
</body>
</html>