<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="fragment :: imports"></head>
<body>
    <nav th:include="fragment :: header('subordinates')"></nav>
    <table>
      <tbody>
        <tr th:each="subordinate : ${subordinates}">
          <td><a th:href="@{/employee/} + ${subordinate.id}" 
                 th:text="${subordinate.firstName} +' '+ ${subordinate.lastName}"></a></td>
        </tr>
      </tbody>
    </table>
</body>
</html>