<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="fragment :: imports"></head>
<body>
    <div th:include="fragment :: header('tasks')"></div>
    <div th:each="topicgroup:${topicgroups}">
      <h2 th:text="${topicgroup.name}">Panel heading</h2> 
      <div class="panel-group" id="accordion">
        <div th:each="topic:${topicgroup.topics}" class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
	                <a th:text="${topic.name}" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" th:href="@{#collapse} + ${topic.id}">Example Section</a>
                </h4>
            </div>
            <div class="panel-collapse collapse in" th:id="collapse + ${topic.id}">
                <div class="panel-body">
		           <ul class="list-group">
		              <!-- Use the th:block for invisible thymeleaf logic. -->
		              <th:block th:each="task,status:${topic.tasks}">
		              <li class="list-group-item">
		              <div class="form-group"  th:with="result=${status.index + 1}">
						  <label for="comment" th:text="${result}+':'">index:</label>
						  <textarea class="form-control" rows="5" id="comment" name="comment" th:text="${task.content}">sdfdsf</textarea>
						  <!-- Remove start-->
						  <form th:action="@{/remove-task}" method="post" th:object="${taskToRemove}">
                             <button class="btn" name="id" id="id" th:value="${task.id}" type="submit">
                             <span class="glyphicon glyphicon-minus"></span></button>
                          </form>
                          <!-- Remove end -->
						</div>
		              </li>
		              </th:block>
		              <li class="list-group-item">
		              <!-- Add start-->
		              <form th:action="@{/new-task}" method="post" th:object="${newTask}">
	                    <input type="hidden" th:value="${topic.id}" name="topicId" id="topicId" />
	                    <div><textarea class="form-control" placeholder="New Task" rows="5" th:field="*{content}"></textarea></div>
	                    <div><button type="submit" class="btn"><span class="glyphicon glyphicon-plus"></span></button></div>
	                  </form>
	                  <!-- Add end-->
                    </li>
		           </ul>
	           </div>
            </div>
        </div>   
      </div>
    </div>
</body>
</html>