<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="fragment :: imports"></head>
<body>
    <div th:include="fragment :: header('topics')"></div>
    <div class="panel panel-default" th:each="topicgroup:${topicgroups}">
      <div class="panel-heading" th:text="${topicgroup.name}">Panel heading</div>
	     
	    <table class="table">
	   
	      <tbody>
	        <tr th:each="topic:${topicgroup.topics}">
	          <td>
	          <form th:action="@{/remove-topic}" method="post" th:object="${topicToRemove}">
	           <span th:text="${topic.name}">Topic 1</span>
	               <button class="btn pull-right" name="id" id="id" th:value="${topic.id}" type="submit">
	               <span class="glyphicon glyphicon-minus"></span></button>
	           </form>
	          </td>
	        </tr>
	        <tr>
               <td>
                 <form th:action="@{/newtopic}" method="post" th:object="${newTopic}">
                    <input type="hidden" th:value="${topicgroup.id}" name="topicGroupId" id="topicGroupId" />
                    <input type="text" placeholder="New Topic" th:field="*{name}"/>
                    <button type="submit" class="btn btn-default">Add</button>
                 </form>
               </td>
	        </tr>
	      </tbody>
	      
	    </table>
	    
    </div>
</body>
</html>